<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>コメント画面</title>
</head>
<body>
    <form method="post" th:action="@{/commentadd/{id}(id=${formModel.id})}" th:object="${formModel}">
        <table border="1">
            <tr>
                <th>内容</th>
            </tr>
            <td th:text="${formModel.content}" size="20" maxlength="200" /></td>
            </tr>
            <tr>
                <td><input type="text" name="content" size="20" maxlength="200" /></td>
        </table>

        <input type="submit" value="コメント" />
        <form action="/">
            <input type="submit" value="戻る" />
        </form>
</body>
</html>