<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TOP</title>
    </head>
    <body>
        <form action="/date" method="post">
            <input type="date" name="startDate" />～<input type="date" name="endDate" /> <input type="submit" value="絞込">
        </form>
        <a href="/new"><button type="button">新規投稿</button> </a>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>内容</th>
            </tr>
            <tr th:each="content : ${contents}">
                <td th:text="${content.id}">
                <td>
                    <table border="1">
                        <tr>
                            <td th:text="${content.content}" />
                        </tr>
                        <div th:each="comment: ${comments}">
                            <div th:if="${content.id == comment.reportId}">
                                <tr>
                                    <td th:text="${comment.content}" />
                                </tr>
                            </div>
                        </div>
                    </table>
                </td>
                <td>
                    <table border="1">
                        <tr>
                            <td><a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a></td>
                        </tr>
                        <div th:each="comment: ${comments}">
                               <div th:if="${content.id == comment.reportId}">
                                <tr>
                                    <td><a th:href="@{/commentedit/{id}(id=${comment.id})}"><button type="button">編集</button></a></td>
                                </tr>
                            </div>
                        </div>
                    </table>
                </td>
                <td><a th:href="@{/comment/{id}(id=${content.id})}"><button type="button">返信</button></a></td>
                <td>
                    <table border="1">
                        <tr>
                            <td>
                                <form th:action="@{/delete/{id}(id=${content.id})}"
                                th:method="delete">
                                     <input type="submit" value="削除">
                                </form>
                            </td>
                        </tr>
                        <div th:each="comment: ${comments}">
                               <div th:if="${content.id == comment.reportId}">
                                <tr>
                                    <td><form
                                            th:action="@{/commentdelete/{id}(id=${comment.id})}"
                                            th:method="delete">
                                            <input type="submit" value="削除">
                                        </form>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
